parameters:
	ignoreErrors:
		-
			message: "#^Method Shapecode\\\\Bundle\\\\HiddenEntityTypeBundle\\\\Form\\\\DataTransformer\\\\Transformer\\:\\:getRepository\\(\\) return type with generic interface Doctrine\\\\Persistence\\\\ObjectRepository does not specify its types\\: T$#"
			count: 1
			path: src/Form/DataTransformer/Transformer.php
