parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$class of static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) expects class\\-string\\<object\\>, string given\\.$#"
			count: 2
			path: src/Form/DataTransformer/ObjectToIdTransformer.php

		-
			message: "#^Unable to resolve the template type ExpectedType in call to method static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\)$#"
			count: 2
			path: src/Form/DataTransformer/ObjectToIdTransformer.php

